{% extends 'blog/base.html' %}

{% block nav %}
	<li><a href="/home">Home</a></li>
	<li><a href="/progresstracker">Progress Tracker</a></li>
	<li class="dropdown">
        <a class="active" href="/blogtopics" class="dropbtn">Blog Topics</a>
        <div class="dropdown-content">
    	    <a href="/blogtopics/computer-science">Computer Science</a>
    	    <a href="/blogtopics/data-science">Data Science</a>
    	    <a href="/blogtopics/other">Other</a>
        </div>
    </li>
    <li><a href="/resources">Resources</a></li>
{% endblock %}


{% block content %}
	<div id="content">
     	<div class="padding">
     	<p style="padding-top: 50px"> 
     		<div class="post_list">
     			{% for post in posts %}	
     			<h3>{{ post.title }}</a></h3>
        		<p style="font-size: 16px">{{ post.published_date|date:'M d, Y' }}</p>
     		    {{ post.body|truncatewords:45 |safe }}
        		<a href="{{ post.get_absolute_url_bt }}">See More</a>
     		    <hr></hr>
     		    {% endfor %}
     		</div>
     	</div>	
     </div>
{% endblock %}