{% extends 'blog/base.html' %}

{% block nav %}
	<li><a class="active" href="/home">Home</a></li>
	<li><a href="/progresstracker">Progress Tracker</a></li>
	<li class="dropdown">
        <a href="/blogtopics" class="dropbtn">Blog Topics</a>
        <div class="dropdown-content">
    	    <a href="/blogtopics/computer-science">Computer Science</a>
    	    <a href="/blogtopics/data-science">Data Science</a>
    	    <a href="/blogtopics/other">Other</a>
        </div>
    </li>
    <li><a href="/resources">Resources</a></li>
{% endblock %}

{% block content %}
     		<div id="content">
     			<div class="padding">
     			<h2><strong>What is this blog about?</strong></h2>
<p>This year I embarked on a journey to learn Data Science. The purpose of this blog is to act as a self-
learning journal as I explore various Data Science and general Computer Science topics.
It is a great time to be an autodidactic learner with virtually instant access to countless resources at our
fingertips; so much so that learning about as big of a topic as Data Science can seem daunting. Through
my numerous internet searches I have kept an ever-growing list of textbooks and articles to read,
MOOCs (Massive Open Online Courses) to take, projects to work on, and the like (a current list can be found in the <a href="{% url 'resources' %}">Resources</a> section).
 On the internet,
everyone and their great aunts have resources to share and opinions about how to proceed; before
even starting the learning process I had changed paths about half a dozen times. This blog will serve as a
mobile base camp: a home base to come back to throughout my journey to keep me grounded and
frequently synthesize things that I learn while allowing me to change directions and take advantage of
the flexibility that self-learning offers.
<p style="padding-top: 25px"><strong>Plan of attack</strong></p>
Having done a fair amount of online research and speaking with actual data science professionals, I feel
like I have a rough idea of where I need to go. Here are some of the high-level topics I’d like to explore:
<ul>
<li>Computer Science Fundamentals</li>
<li>Web Development</li>
<li>Statistics</li>
<li>Coding in Python</li>
<li>Machine Learning</li>
<li>Gathering, Cleaning & Munging Data</li>
<li>Visualization</li>
</ul>
My first step has been to learn enough web development to build this blog as I believe that developing strong 
fundamentals in more general computer science topics are an important part of my learnings, if they don't
directly benefit my Data Science exploration.
<p></p>The learning path will by no means be a linear one. It will involve jumping from topic to topic as I seek to
push each of them forward.
Part of the plan involves updating the Progress Tracker section every 2 or 3 weeks to come up with a to
do list or plan of attack for the next 2 or 3 week period. On the way I will publish blog posts,
summarizing key learning points as I progress.
<p style="padding-top: 25px"><strong>Mountain</p></strong>
I have likened the self-learning process to climbing an infinite mountain. Here is A Self-Learner’s Guide
to Climbing an Infinite Mountain:
- There may be many paths in front of you but hopefully with enough thought and guidance
you can keep moving upwards.
- The journey may never officially end but hopefully the views get better and the journey a
fulfilling one.
- Things may get a bit messy but hopefully you’ve brought enough underwear.
     		</div>
     		</div>
     		
     	</div>
{% endblock %}