{% extends 'blog/base.html' %}

{% block nav %}
	<li><a class="active" href="/home">Home</a></li>
	<li><a href="/progresstracker">Progress Tracker</a></li>
	<li class="dropdown">
        <a href="/blogtopics" class="dropbtn">Blog Topics</a>
        <div class="dropdown-content">
    	    <a href="/blogtopics/computer-science">Computer Science</a>
    	    <a href="/blogtopics/data-science">Data Science</a>
    	    <a href="/blogtopics/other">Other</a>
        </div>
    </li>
    <li><a href="/resources">Resources</a></li>
{% endblock %}

{% block content %}
     		<div id="content">
     			<div class="padding">
     			<h2>Hello</h2>
     			<p>Well hello i'm here now</p>
     			Coawdalwkduhalwkudhalwkduhalwkduah
     			awldkuahwldkuahwdlkauwhdlkauhjgfjgfdjgfdjgfdjgfdjgfdjgfdjgfdntent awd 
     			awdawdawdaw
     			awd
     			awd
     			awd
     			awd
     			awd
     			awd
     			awd
     			</div>
     		</div>
     		
     	</div>
{% endblock %}