{% extends 'blog/base.html' %}

{% block nav %}
	<li><a class="active" href="/home">Home</a></li>
	<li><a href="/progresstracker">Progress Tracker</a></li>
    <li><a href="/blogtopics">Blog Topics</a></li>
    <li><a href="/resources">Resources</a></li>
{% endblock %}

{% block content %}
   <div id="content">
     	<div class="padding">
        {% if post.published_date %}
                {{ post.published_date }}
        {% endif %}
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}