{% extends 'blog/base.html' %}

{% block nav %}
	<li><a href="/home">Home</a></li>
	<li><a href="/progresstracker">Progress Tracker</a></li>
    <li class="dropdown">
        <a href="/blogtopics" class="dropbtn">Blog Topics</a>
        <div class="dropdown-content">
    	    <a href="/blogtopics/computer-science">Computer Science</a>
    	    <a href="/blogtopics/data-science">Data Science</a>
    	    <a href="/blogtopics/other">Other</a>
        </div>
    </li>
    <li><a href="/resources">Resources</a></li>
{% endblock %}


{% block content %}
<div id="content">
    <div class="padding">
    	<p style="padding-top: 75px"></p>
		{% for post in btpost %}
			<a href="{{ post.get_absolute_url_bt }}">{{ post.title }}</a>
		    <p>{{ post.created_date|date:'M d, Y' }}</p>
		    {{ post.body|truncatechars:200|safe }}
		    <hr></hr>
		{% endfor %}
		{% for post in ptpost %}
		    <p>created: {{ post.created_date|date:'M d, Y' }}</p>
		    <a href="{{ post.get_absolute_url }}">{{ post.title }}
		    </a>
		    {{ post.body|truncatechars:45|safe }}
		{% endfor %}
	</div>
</div>
{% endblock %}